/* Reset padding and margin for the entire body to eliminate default spacing */
body {
  padding: 0;
  margin: 0;
  font-family: "Anek Odia", sans-serif; /* Set a sans-serif font family for the entire document */
}

button {
  cursor: pointer;
  min-height: 1em;
  border: none;
  background-color: #0078D7;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.5rem 1.2rem;

}

table {
  width: 100%;
}

th {
  text-align: left;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004b9a;
}

select {
  padding: 0.5rem 0.9rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: rgb(231,231,231);
  font-size: 0.9rem;
}

.select {
  margin-left: 0.7rem;
}

.options {
  display: flex;
  align-items: center;
}

.options div {
  margin-left: 1rem;
}
  

/* Style for the main app container identified by the unique ID 'app-holder' */
#app-holder {
  display: flex; /* Use flexbox layout for this container */
  flex-direction: column; /* Arrange child elements in a column */
  min-height: 100vh; /* Set the minimum height of the container to 100% of the viewport height */ 
}

.container {
  flex-grow: 1;
  padding: 0rem 1rem;
}

.segment {
  padding: 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/* Style for the navigation bar identified by the unique ID 'navbar' */
#navbar {
  color: white; /* Set text color to white */
  background-color: black; /* Set background color to black */
  display: flex; /* Use flexbox layout for this container */
  justify-content: space-between; /* Distribute space between child elements evenly */
  align-items: center; /* Center child elements vertically */
  flex-grow: 0; /* Prevent the navbar from growing */
}

/* Style for the navigation bar title identified by the class 'navtitle' */
.navtitle {
  font-size: large; /* Set the font size to large */
  font-weight: 700; /* Set font weight to bold (700) */
  padding: 1rem; /* Add padding around the text */
}

/* Style for the container holding navigation links, identified by the unique ID 'navlinks' */
#navlinks {
  display: flex; /* Use flexbox layout for this container */
}

/* Style for individual navigation links identified by the class 'navlink' */
.navlink {
  padding: 1rem; /* Add padding around each navigation link */
}

/* Style for anchor tags inside elements with the class 'navlink' */
.navlink a {
  color: white; /* Set text color to white */
}

/* Style for visited anchor tags inside elements with the class 'navlink' */
.navlink a:visited {
  color: white; /* Set text color to white for visited links */
}

/* Style for anchor tags inside elements with the class 'navlink' when hovered over */
.navlink a:hover {
  color: #ddd; /* Change text color to a lighter shade when hovered over */
}

.titleHead {
  padding-top: 1rem;
}

.account-row {
  display: flex;
}

.account-row .header {
  flex-basis: 40%;
}

.account-row .bold {
  font-weight: 700;
}

.progress {
  height: 1.5rem;
  border-radius: 0.3rem;
}

.progress-holder {
  background-color: rgb(222,222,222);
}

.progress-text {
  text-align: center;
  font-weight: 700;
}

.progress-wrap {
  margin: 1.0rem 0rem;
}

#price-chart-holder {
  min-height: 600px;
  height: calc(100vh - 400px);
}

#chartDiv {
  height: calc(100% - 50px);
}

#footer {
  padding: 1rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.758);
  color: white;
  margin-top: 2rem;
  flex-grow: 0;
  text-align: center;
}